.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
*.md
!README.md
*.backup
/.claude
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/.vercel/output/static

/generated/prisma

skills-lock.json
/.svelte-kit/output
/test-results
