@import 'tailwindcss';

@theme {
  --font-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
}

@plugin "daisyui" {
  themes:
    light --default,
    animorank-dark --prefersdark;
}

/* TODO: Set these to light mode colors*/
@theme {
  --color-primary: #87f526;
  --color-primary-focus: #67dc06;
  --color-primary-content: #0b0908;
  --color-secondary: #2d6d07;
  --color-secondary-focus: #275c0b;
  --color-secondary-content: #d4d0ce;
  --color-accent: #ffb81c;
  --color-accent-focus: #e69900;
  --color-accent-content: #0b0908;
  --color-neutral: #584e4d;
  --color-neutral-focus: #3d3535;
  --color-neutral-content: #e5e2e0;
  --color-base-100: #1b1717;
  --color-base-200: #161212;
  --color-base-300: #110d0d;
  --color-base-content: #d4d0ce;
  --color-info: #00d0ef;
  --color-info-content: #053344;
  --color-success: #01df72;
  --color-success-content: #022d14;
  --color-warning: #fdc700;
  --color-warning-content: #411e03;
  --color-error: #ff6266;
  --color-error-content: #440607;
}

@layer theme {
  [data-theme='animorank-dark'] {
    --color-primary: #87f526;
    --color-primary-focus: #67dc06;
    --color-primary-content: #0b0908;
    --color-secondary: #2d6d07;
    --color-secondary-focus: #275c0b;
    --color-secondary-content: #d4d0ce;
    --color-accent: #ffb81c;
    --color-accent-focus: #e69900;
    --color-accent-content: #0b0908;
    --color-neutral: #584e4d;
    --color-neutral-focus: #3d3535;
    --color-neutral-content: #e5e2e0;
    --color-base-100: #1b1717;
    --color-base-200: #161212;
    --color-base-300: #110d0d;
    --color-base-content: #d4d0ce;
    --color-info: #00d0ef;
    --color-info-content: #053344;
    --color-success: #01df72;
    --color-success-content: #022d14;
    --color-warning: #fdc700;
    --color-warning-content: #411e03;
    --color-error: #ff6266;
    --color-error-content: #440607;
  }
}

@plugin "daisyui/theme" {
  name: 'animorank-dark';
  default: true;
  /* set as default */
  prefersdark: true;
  /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: dark;
  /* color of browser-provided UI */

  --color-primary: #87f526;
  --color-primary-focus: #67dc06;
  --color-primary-content: #0b0908;
  --color-secondary: #2d6d07;
  --color-secondary-focus: #275c0b;
  --color-secondary-content: #d4d0ce;
  --color-accent: #ffb81c;
  --color-accent-focus: #e69900;
  --color-accent-content: #0b0908;
  --color-neutral: #584e4d;
  --color-neutral-focus: #3d3535;
  --color-neutral-content: #e5e2e0;
  --color-base-100: #1b1717;
  --color-base-200: #161212;
  --color-base-300: #110d0d;
  --color-base-content: #d4d0ce;
  --color-info: #00d0ef;
  --color-info-content: #053344;
  --color-success: #01df72;
  --color-success-content: #022d14;
  --color-warning: #fdc700;
  --color-warning-content: #411e03;
  --color-error: #ff6266;
  --color-error-content: #440607;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@plugin "@tailwindcss/typography";

.splitpanes-nobg .splitpanes {
  background-color: inherit !important;
}

.splitpanes-nobg .splitpanes__pane {
  background-color: inherit !important;
  position: relative;
  overflow: scroll;
}

.splitpanes-nobg .splitpanes__splitter {
  background-color: #242424 !important;
  border-left: none !important;
}

h1,
h2,
.font-header {
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
