@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    @apply bg-white dark:bg-slate-800 text-slate-800 dark:text-white;
}

.splitpanes-nobg .splitpanes {
    background-color: inherit !important;
}

.splitpanes-nobg .splitpanes__pane {
    background-color: inherit !important;
    position: relative;
    overflow: scroll;
}

.splitpanes-nobg .splitpanes__splitter {
  background-color: #242424 !important;
  border-left: none !important;
}
